.s-main-nav {

  /*! Changing Boostrap Default Styles */
  background-color: transparent;
  border-color: transparent;
  position: relative;
  margin-bottom: 0;
  border: 1px solid transparent;
  min-height: 50px;
  /*! End*/

  &__item {

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    color: @white;
    text-transform: uppercase;
    letter-spacing: 0.075em;

    &::before {
      position: absolute;
      content: '';
      background-color: @green;
      height: 0;
      width: 100%;
      bottom: -17px;
      left: 0;
      transition: all 0.2s ease-in-out 0s;
    }

    @media (min-width: @screen-sm) {
      font-size: @font-size--small;

      &::before {
        bottom: -19px;
      }
    }

    &:hover {
      color: @white;

      &::before {
        height: 7px;
      }
    }
  }
}

/*! Changing Bootstrap Default Styles */
.navbar .navbar-default {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  margin-bottom: 0;
  border: 1px solid transparent;
  min-height: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: @white;
}

.navbar > .container .navbar-brand {
  margin-left: 15px;

  @media (min-width: @screen-sm) {
    margin-left: 0;
  }
}

.nav > li > a {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: @white;
}
/*! End*/