.s-main-table {
  border-collapse: collapse;

  @media (min-width: @screen-lg) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td {
    border-top: 0;
  }

  th {
    background-color: @blue;
    font-weight: 400;
    color: @white;
  }
}