.s-page-header {

  &__briefly {
    background-color: @white;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  &__slogan {
    display: block;
    line-height: 1.4em;
    padding-top: 0.5em;
    margin-bottom: 1em;

    @media (min-width: @screen-sm) {
      font-size: @font-size--small;
      margin-bottom: 0;
    }
  }

  &__contacts {

    @media (min-width: @screen-sm) {
      text-align: right;
    }
  }

  &__navigation {
    background-color: @blue;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}