<header class="s-page-header" role="banner">

  <div class="s-page-header__briefly">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <strong class="s-page-header__slogan">Вывоз строительного мусора из Санкт-Петербурга и Ленинградской области от 300 рублей за кубометр</strong>
        </div>
        <div class="s-page-header__contacts col-xs-12 col-sm-6 col-md-8">
          <address class="s-address s-address--in-header">
            <ul class="s-address__list">
              <li class="s-address__item">
                <svg class="s-address__icon" width="34px" height="35px"><use xlink:href="#phone-call"></use></svg>
                <div class="s-address__phones-wrap">
                  <a href="tel:+78123264555" class="s-address__phones">+7 812 326 45 55</a>
                  <a href="tel:+79214180074" class="s-address__phones">+7 921 418 00 74</a>
                </div>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="s-page-header__navigation">
    <nav class="s-main-nav navbar navbar-default">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="s-logo navbar-brand" href="index.html">
            <svg class="s-logo__icon"><use xlink:href="#logo"></use></svg>
            <strong class="s-logo__text">Чистый город</strong>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="s-main-nav__list nav navbar-nav navbar-right">
            <li class="s-main-nav__item"><a href="#" class="s-main-nav__link">О компании</a></li>
            <li class="s-main-nav__item"><a href="list-of-sales.html" class="s-main-nav__link">Акции</a></li>
            <li class="s-main-nav__item"><a href="services.html" class="s-main-nav__link">Услуги</a></li>
            <li class="s-main-nav__item"><a href="prices.html" class="s-main-nav__link">Цены</a></li>
            <li class="s-main-nav__item"><a href="#" class="s-main-nav__link">Проекты</a></li>
            <li class="s-main-nav__item"><a href="contacts.html" class="s-main-nav__link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>