<section class="s-section s-sales">
  <div class="container">
    <h2 class="s-main-subtitle">Акции</h2>

    <ul class="s-sales__list row">
      <li class="s-sales__item s-sales__item col-xs-12 col-sm-6">
        <div class="s-sales__cover"></div>
        <div class="s-sales__content">
          <h3 class="s-sales__title">Скидка для всех пенсионеров &mdash; 10%</h3>
          <p class="s-sales__dates"><em>Срок проведения акции — с 21.06.2017 г. по 31.12.2017 г. </em></p>
          <p class="s-sales__desc">Мы понимаем, как важно для старшего поколения ощущать нашу заботу и внимание, поэтому предоставляет скидку 10% всем пожилым людям. Акция распространяется на все услуги компании и действует в любое время суток</p>
          <a href="#" class="s-btn s-btn--bg-green">Узнать больше</a>
        </div>
      </li>
      <li class="s-sales__item col-xs-12 col-sm-6">
        <div class="s-sales__cover"></div>
        <div class="s-sales__content">
          <h3 class="s-sales__title">Скидка для всех пенсионеров &mdash; 10%</h3>
          <p class="s-sales__dates"><em>Срок проведения акции — с 21.06.2017 г. по 31.12.2017 г. </em></p>
          <p class="s-sales__desc">Мы понимаем, как важно для старшего поколения ощущать нашу заботу и внимание, поэтому предоставляет скидку 10% всем пожилым людям. Акция распространяется на все услуги компании и действует в любое время суток</p>
          <a href="#" class="s-btn s-btn--bg-green">Узнать больше</a>
        </div>
      </li>
      <li class="s-sales__item col-xs-12 col-sm-6">
        <div class="s-sales__cover"></div>
        <div class="s-sales__content">
          <h3 class="s-sales__title">Скидка для всех пенсионеров &mdash; 10%</h3>
          <p class="s-sales__dates"><em>Срок проведения акции — с 21.06.2017 г. по 31.12.2017 г. </em></p>
          <p class="s-sales__desc">Мы понимаем, как важно для старшего поколения ощущать нашу заботу и внимание, поэтому предоставляет скидку 10% всем пожилым людям. Акция распространяется на все услуги компании и действует в любое время суток</p>
          <a href="#" class="s-btn s-btn--bg-green">Узнать больше</a>
        </div>
      </li>
      <li class="s-sales__item col-xs-12 col-sm-6">
        <div class="s-sales__cover"></div>
        <div class="s-sales__content">
          <h3 class="s-sales__title">Скидка для всех пенсионеров &mdash; 10%</h3>
          <p class="s-sales__dates"><em>Срок проведения акции — с 21.06.2017 г. по 31.12.2017 г. </em></p>
          <p class="s-sales__desc">Мы понимаем, как важно для старшего поколения ощущать нашу заботу и внимание, поэтому предоставляет скидку 10% всем пожилым людям. Акция распространяется на все услуги компании и действует в любое время суток</p>
          <a href="#" class="s-btn s-btn--bg-green">Узнать больше</a>
        </div>
      </li>
      <li class="s-sales__item col-xs-12 col-sm-6">
        <div class="s-sales__cover"></div>
        <div class="s-sales__content">
          <h3 class="s-sales__title">Скидка для всех пенсионеров &mdash; 10%</h3>
          <p class="s-sales__dates"><em>Срок проведения акции — с 21.06.2017 г. по 31.12.2017 г. </em></p>
          <p class="s-sales__desc">Мы понимаем, как важно для старшего поколения ощущать нашу заботу и внимание, поэтому предоставляет скидку 10% всем пожилым людям. Акция распространяется на все услуги компании и действует в любое время суток</p>
          <a href="#" class="s-btn s-btn--bg-green">Узнать больше</a>
        </div>
      </li>
    </ul>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>