.s-sales {

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 2em;

    @media (min-width: @screen-md) {
      margin-bottom: 3em;
    }
  }

  &__cover {
    width: 100%;
    min-height: 200px;
    background-color: @bg-color--dark;

    @media (min-width: @screen-md) {
      min-height: 300px;
    }
  }

  &__content {
    padding: 2em 1em;
  }

  &__title {
    margin: 0;
  }

  &__dates {
    font-size: @font-size--small;
    margin-top: 0;
  }

  &__desc {
    margin-bottom: 2em;

    @media (min-width: @screen-md) {
      max-width: 25em;
    }
  }
}