.s-address {
  font-style: normal;

  &__list {
    list-style-type: none;
  }

  &__item {
    color: @text-color--light;

    @media (min-width: @screen-sm) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 1em;

      @media (min-width: @screen-sm) {
        margin-bottom: 0;
      }
    }

    &:first-child {

      @media (min-width: @screen-sm) {
        text-align: left;
      }
    }

    &:last-child {

      @media (min-width: @screen-sm) {
        text-align: right;
      }
    }
  }

  &__name-of-company {
    margin: 0;
    margin-bottom: 1em;

    @media (min-width: @screen-sm) {
      margin-bottom: 0.5em;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 1em;
    fill: @green;

    @media (min-width: @screen-lg) {
      transform: translateY(-2px);
    }
  }

  &__physical-address-wrap {

    svg {
      float: left;
      transform: translateX(3px);
    }
  }

  &__physical-address {
    float: left;
    margin: 0;
  }

  &__phones-wrap {
    display: inline-block;
  }

  &__phones {
    display: block;
    line-height: 1.5em;
  }

  &__e-mail-wrap {
    display: inline-block;

    svg {
      float: left;
    }
  }

  &__e-mail {
    display: inline-block;
    float: left;
    margin-top: 0.25em;

    @media (min-width: @screen-lg) {
      margin-top: 0;
    }
  }

  &--in-header {

    a {
      color: @text-color;
    }
  }

  &--in-footer {

    a {
      color: @text-color--light;
    }
  }
}