.s-btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: @font-size--small;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid @blue;
  border-radius: 2px;
  color: @text-color;
  background-color: transparent;
  background-image: none;
  padding: 20px 40px;
  touch-action: manipulation;
  overflow: hidden;
  z-index: 1;

  &--bg-green {
    border: 1px solid @green;
    background-color: @green;
    color: @white;
  }

  &--form-submit {
    width: 100%;
    padding: 20px 20px;
  }
}