.s-item-service {

  &__main-content {
    margin-bottom: 2em;
  }

  &__title {
    text-align: left;
  }

  &__cover {
    background-color: @bg-color--dark;
    width: 100%;
    min-height: 200px;

    @media (min-width: @screen-md) {
      min-height: 300px;
    }
  }

  &__text {

    &--large {
      max-width: 55em;
    }
  }
}