.s-how-we-work {
  background-color: @bg-color--light;
  text-align: center;

  &__wrap {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-lg) {
      max-width: 80%;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    position: relative;

    &:not(:last-child) {

      @media (min-width: @screen-sm) {

        &::after {
          position: absolute;
          content: '';
          top: 17px;
          right: -31px;
          width: 62px;
          height: 44px;
          background-image: url(../images/arrow.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 70px;

    &--submit {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/verification-of-delivery-list.svg');
      width: 58px;
      height: 71px;
    }

    &--conversation {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/woman-with-headset.svg');
      width: 65px;
      height: 67px;
    }

    &--delivery {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/delivery-truck.svg');
      transform: translateY(5px);
      width: 77px;
      height: 54px;
    }
  }

  &__description {
    font-weight: 600;
    font-size: @font-size--accent;
    line-height: 1.15em;
  }
}