<section class="s-section s-how-we-work">
  <div class="container">
    <h2 class="s-main-subtitle">Как мы работаем</h2>
    <div class="s-how-we-work__wrap">
      <ul class="s-how-we-work__list row">
        <li class="s-how-we-work__item col-xs-12 col-sm-4">
          <div class="s-how-we-work__cover  s-how-we-work__cover--submit"></div>
          <p class="s-how-we-work__description">Оставляете<br> заявку</p>
        </li>
        <li class="s-how-we-work__item col-xs-12 col-sm-4">
          <div class="s-how-we-work__cover  s-how-we-work__cover--conversation"></div>
          <p class="s-how-we-work__description">Общаетесь с<br> менеджером</p>
        </li>
        <li class="s-how-we-work__item col-xs-12 col-sm-4">
          <div class="s-how-we-work__cover  s-how-we-work__cover--delivery"></div>
          <p class="s-how-we-work__description">Встречаeте<br> машину</p>
        </li>
      </ul>
    </div>
  </div>
</section>