<section class="s-section s-services">
  <div class="container">
    <h2 class="s-main-subtitle">Услуги</h2>

    <div class="s-services__content">
      <ul class="s-services__list row">

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Вывоз дачного мусора</h3>
              <p class="s-service__description">Мы быстро, качественно и профессионально произведем вывоз мусора с дачи</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Демонтаж</h3>
              <p class="s-service__description">Сотрудники нашей компании, обладающие большим опытом работы в этой сфере, проведут демонтаж любой сложности</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Вывоз строительного мусора</h3>
              <p class="s-service__description">Под строительным мусором подразумеваются любые промышленные отходы, которые получаются в результате строительных или ремонтных работ</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Вывоз оконных рам</h3>
              <p class="s-service__description">Старые деревянные оконные рамы и стекла классифицируются, как строительный мусор, и должны утилизироваться в соответствии с этим</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Вывоз мебели</h3>
              <p class="s-service__description">Мы заберем Вашу мебель в любом количестве, будь это один книжный стеллаж или кухонный гарнитур из 15 предметов</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>

        <li class="s-service col-xs-12 col-sm-6 col-md-4">
          <div class="s-service__wrap">
            <div class="s-service__cover" style="background-image: url();"></div>
            <div class="s-service__content">
              <h3 class="s-service__title">Вывоз крупногоборитного мусора</h3>
              <p class="s-service__description">Мы осуществляем вывоз крупногабаритного мусора посредством специализированных контейнеров</p>
              <a href="#" class="s-service__more-information">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>