@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/sourcesanspro.woff2') format('woff2'),
       url('../fonts/sourcesanspro.woff') format('woff'),
       url('../fonts/sourcesanspro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/sourcesansprosemibold.woff2') format('woff2'),
       url('../fonts/sourcesansprosemibold.woff') format('woff'),
       url('../fonts/sourcesansprosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/sourcesansprobold.woff2') format('woff2'),
       url('../fonts/sourcesansprobold.woff') format('woff'),
       url('../fonts/sourcesansprobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}