a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
  line-height: @line-height;

  @media (min-width: @screen-lg) {
    font-size: @font-size--desktop;
    line-height: @line-height--desktop;
  }
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin-top: 1em;
  margin-bottom: .5em;
  max-width: 35em;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 700;
  font-style: normal;
  line-height: @line-height--heading;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: @font-size--h1;
}

h2 {
  font-size: @font-size--h2;
}

h3 {
  font-size: @font-size--h3;
}

h4 {
  font-size: @font-size--h4;
}

// h5 {
//   font-size: @font-size--h5;
// }

// h6 {
//   font-size: @font-size--h6;
// }

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out .25s;
}

button {
  background-color: inherit;
  border: none;
}