.s-our-clients {
  background-color: @bg-color--light;

  &__wrap {

    @media (min-width: @screen-lg) {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;

    img {
      object-fit: cover;
    }
  }
}