<section class="s-section s-our-clients">
  <div class="container">
    <h2 class="s-main-subtitle">Наши клиенты</h2>
    <div class="s-our-clients__wrap">
      <ul class="s-our-clients__list row">
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
        <li class="s-our-clients__item col-xs-6 col-sm-4">
          <img src="images/petrovich-logo.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>