.s-logo {
  padding: 0;
  margin-left: 0;

  &__icon {
    fill: @green;
    width: 50px;
    height: 50px;
  }

  &__text {
    color: @white;
    font-weight: 700;
    vertical-align: top;
    display: inline-block;
    margin-left: 1em;
    padding-top: 13px;
  }
}