.s-page-footer {

  &__copyright {
    text-align: center;
    background-color: @bg-color--darkest;
    color: @blue;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
}