.s-service {
  margin-bottom: 30px;

  &__wrap {
    position: relative;
    width: 100%;
    box-shadow: 0 1px 5px #777;

    &--more-content {

      @media (min-width: @screen-sm) {
        display: table;

        .s-service__cover {
          width: 30%;
          display: table-cell;
        }

        .s-service__content {
          width: 70%;
          display: table-cell;
          padding: 1.5em 2.5em;
        }

        .s-service__more-information {
          position: relative;
          bottom: 0;
          left: 0;
          text-align: right;
        }
      }
    }
  }

  &__cover {
    background-color: @bg-color--dark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 240px;
  }

  &__content {
    position: relative;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 220px;

    @media (min-width: @screen-sm) {
      min-height: 265px;
    }
  }

  &__title {
    font-size: @font-size--accent;
    font-weight: 600;
    margin: 0;
  }

  &__description {
    margin-top: 0.5em;
    margin-bottom: 2em;
    line-height: 1.35em;
  }

  &__more-information {
    position: absolute;
    display: block;
    bottom: 32px;
    left: 16px;
    font-size: @font-size--small;
    text-transform: uppercase;
    color: @bg-color--dark;
    font-weight: 600;
    text-decoration: underline;

    @media (min-width: @screen-lg) {
      bottom: 36px;
      left: 18px;
    }
  }
}