.s-photo-gallery {

  &__item {
    display: block;
    min-height: 200px;
    margin-bottom: 15px;

    @media (min-width: @screen-sm) {
      margin-bottom: 30px;
    }
  }

  &__thumb {
    width: 100%;
    min-height: 200px;
    background-color: @bg-color--dark;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__slider {

    .owl-nav {

      .owl-prev,
      .owl-next {
        background: transparent;
        padding: 0.5em 1.5em;

        &:hover,
        &:focus {
          background: transparent;
        }

        svg {
          fill: @green;
          width: 51px;
          height: 49px;
        }
      }

      .owl-prev {

        svg {
          transform: rotate3D(0, 1, 0, 180deg);
        }
      }
    }
  }
}