<section class="s-section s-photo-gallery">
  <div class="container">
    <h2 class="s-main-subtitle">Фотографии</h2>

    <div id="s-photo-gallery-slider" class="s-photo-gallery__slider owl-carousel owl-theme">
      <div class="s-photo-gallery__group">
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
      </div>
      <div class="s-photo-gallery__group">
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
      </div>
      <div class="s-photo-gallery__group">
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
      </div>
      <div class="s-photo-gallery__group">
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
        <a href="http://placehold.it/1200x750" class="s-photo-gallery__item" data-type="image" data-fancybox="gallery">
          <div class="s-photo-gallery__thumb"></div>
        </a>
      </div>
    </div>
  </div>
</section>