<div class="calculator">
  <div class="calculator__count">
    <h3 class="calculator__title">Рассчитать стоимость вывоза мусора</h3>
    <form action="" class="calculator__form">
      <fieldset>
        <div>
          <h4>Объем, м<sup>3</sup></h4>
          <label for=""></label>
          <input type="range">
        </div>
        <h4>Количество грузчиков</h4>
        <div>
          <input type="radio" id="count-self" name="count" value="">
          <label for="count-self">Погружу сам</label>

          <div class="calculator__radio-groups">
            <input type="radio" id="count1" name="count" value="phone">
            <label for="count1">1</label>

            <input type="radio" id="count2" name="count" value="mail">
            <label for="count2">2</label>

            <input type="radio" id="count3" name="count" value="mail">
            <label for="count3">3+</label>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Откуда вывозим мусор</h4>
               <select name="">
                <option selected="selected">Выберите район</option>
                <option>Пункт 1</option>
                <option>Пункт 1</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <input type="tel" class="form-control" id="phone" placeholder="Телефон">
        <label class="sr-only" for="phone"></label>
      </div>
      <div class="col-xs-12 col-sm-6">
        <button class="s-btn  s-btn--bg-green  s-btn--form-submit">Заказать вывоз мусора</button>
      </div>
    </div>
  </div>
  <div class="calculator__result">
    <table>
      <tr>
        <td>Объем</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>Доп. услуга</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>Расстояние</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>Итого</td>
        <td>11200</td>
      </tr>
    </table>
  </div>
</div>