.calculator {
  position: relative;

  &__count {
    background-color: @white;
    padding: 2em;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 5px #777;
    padding-bottom: 3em;

    @media (min-width: @screen-md) {
      left: 3em;
      max-width: 560px;
    }

    @media (min-width: @screen-lg) {
      max-width: 650px;
    }
  }

  &__form {

    fieldset {
      padding: 0;
    }

    input[type="radio"] {
      margin-right: 0.5em;

      & + label {
        margin-right: 1.5em;
      }
    }

    select {
      width: 100%;
      height: 54px;
      margin-bottom: 2em;
      background-color: @white;
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #808080;
      border-color: @text-color;
      font-size: 14px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/btn-arrow.svg');
      background-size: 9px 6px;
      background-position: right center;
      background-origin: content-box;
      background-repeat: no-repeat;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        outline: none;
      }
    }
  }

  &__radio-groups {
    display: block;
    margin-bottom: 1em;
    margin-top: 0.5em;

    @media (min-width: @screen-xs) {
      display: inline-block;
      margin-top: 0;
    }
  }

  &__result {
    background-color: @bg-color--dark;
    min-height: 250px;
    padding: 2em;
    box-shadow: 0 1px 5px #777;
    color: @text-color--light;

    @media (min-width: @screen-md) {
      position: absolute;
      background-color: @bg-color--dark;
      min-height: 350px;
      width: 900px;
      left: 0;
      top: 5em;
      z-index: 1;
    }

    @media (min-width: @screen-lg) {
      width: 1100px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 2em;

      @media (min-width: @screen-md) {
        width: 27%;
        margin-left: auto;
        margin-top: 3em;
      }

      @media (min-width: @screen-lg) {
        width: 32%;
      }

      tr {

        td {
          padding-top: 0.25em;
          padding-bottom: 0.25em;

          &:last-child {
            text-align: right;
          }
        }

        &:nth-last-child(2) {

          td {
            padding-bottom: 0.5em;
            border-bottom: 1px solid #00456e;
          }
        }

        &:last-child {
          font-weight: 600;

          td {
            padding-top: 1em;
          }
        }
      }
    }
  }

  .form-control {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    border-color: @text-color;
  }
}