.phone {
  width: 100%;
  height: 54px;
  margin-bottom: 2em;
  background-color: #fff;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #808080;
  border-color: #333;
  font-size: 14px;
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-width: 1px;
}

.calculator {
  position: relative;

  h4 {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }

  // Styles Select
  #polzunok {
    height: 0.7em;
    border: 1px solid #006494;
    border-radius: 0.7em;
    margin-bottom: 1em;

    div.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
      background-color: #006494;
    }

    span.ui-slider-handle.ui-corner-all.ui-state-default {
      background-color: #006494;
      border: 2px solid #fff;
      border-radius: 1.5em;
      width: 1.5em;
      height: 1.5em;
      top: -0.45em;

      &:focus {
        outline: none;
      }
    }
  }

  #textSlider {
    transform: translateY(0.05em);
    width: 100px;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  // Style Radio Buttons
  .pogruzka {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;

    & + label {
      cursor: pointer;
    }

    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:not(checked) + label {
      position: relative;
      padding: 0 0 0 35px;
    }

    &:not(checked) + label:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 22px;
      height: 22px;
      border: 1px solid #006494;
      border-radius: 50%;
      background: #FFF;
    }

    &:not(checked) + label:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 3px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #006494;
      opacity: 0;
      transition: all .2s;
    }

    &:checked + label:after {
      opacity: 1;
    }
  }

  &__count {
    background-color: #fff;
    padding: 2em;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 5px #777;
    padding-bottom: 3em;

    @media (min-width: 992px) {
      left: 3em;
      max-width: 560px;
      min-height: 590px;
    }

    @media (min-width: 1200px) {
      max-width: 650px;
    }
  }

  &__form {

    fieldset {
      padding: 0;
    }

    input[type="radio"] {
      margin-right: 0.5em;

      & + label {
        margin-right: 1.5em;
      }
    }

    select {
      width: 100%;
      height: 54px;
      margin-bottom: 2em;
      background-color: #fff;
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      color: #808080;
      border-color: #333;
      font-size: 14px;
      background-size: 9px 6px;
      background-position: right center;
      background-origin: content-box;
      background-repeat: no-repeat;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        outline: none;
      }
    }
  }

  &__radio-groups {
    display: block;
    margin-bottom: 1em;
    margin-top: 0.5em;

    @media (min-width: 768px) {
      display: inline-block;
      margin-top: 0;
    }
  }

  &__result {
    background-color: @bg-color--dark;
    min-height: 250px;
    padding: 2em;
    box-shadow: 0 1px 5px #777;
    color: @text-color--light;

    @media (min-width: @screen-md) {
      position: absolute;
      background-color: @bg-color--dark;
      min-height: 350px;
      width: 900px;
      left: 0;
      top: 5em;
      z-index: 1;
    }

    @media (min-width: @screen-lg) {
      width: 1100px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 2em;
      margin-bottom: 3em;

      @media (min-width: @screen-md) {
        width: 27%;
        margin-left: auto;
        margin-top: 3em;
      }

      @media (min-width: @screen-lg) {
        width: 32%;
      }

      tr {

        td {
          padding-top: 0.25em;
          padding-bottom: 0.25em;

          &:last-child {
            text-align: right;
          }
        }

        &:nth-last-child(2) {

          td {
            padding-bottom: 0.5em;
            border-bottom: 1px solid @white;
          }
        }

        &:last-child {
          font-weight: 600;
          text-align: left;

          td {
            padding-top: 1em;

            &:last-child {
              text-align: left;
            }
          }
        }
      }
    }
  }

  #resultBlock {
    color: #fff;
  }

  .form-control {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    border-color: #333;
  }

  .input-and-label-group {
    display: block;
    margin-bottom: 1em;
  }

  .phone-and-submit {
    width: 100%;
    margin-left: auto;

    @media (min-width: @screen-lg) {
      width: 100%;
    }
  }
}