<footer class="s-small-footer">
  <div class="s-small-footer__content">
    <div class="container">

      <address class="s-address  s-address--in-footer">
        <ul class="s-address__list  row">

          <li class="s-address__item  col-xs-12  col-sm-4">
            <p class="s-address__name-of-company"><strong>ООО “Чистый Город”</strong></p>
            <div class="s-address__physical-s-address-wrap">
              <svg class="s-address__icon" width="34px" height="32px"><use xlink:href="#location"></use></svg>
              <p class="s-address__physical-s-address">ул. Ворошилова д. 2</p>
            </div>
          </li>

          <li class="s-address__item  col-xs-12  col-sm-4">
            <svg class="s-address__icon" width="34px" height="35px"><use xlink:href="#phone-call"></use></svg>
            <div class="s-address__phones-wrap">
              <a href="tel:+78123264555" class="s-address__phones">+7 812 326 45 55</a>
              <a href="tel:+79214180074" class="s-address__phones">+7 921 418 00 74</a>
            </div>
          </li>

          <li class="s-address__item  col-xs-12  col-sm-4">
            <div class="s-address__e-mail-wrap">
              <svg class="s-address__icon" width="40px" height="30px"><use xlink:href="#mail"></use></svg>
              <a href="emailto:info@4-gorod.ru" class="s-address__e-mail">info@4-gorod.ru</a>
            </div>
          </li>
        </ul>
      </address>

    </div>
  </div>
  <div class="s-small-footer__copyright">
    <div class="container">
      <small>&#169; Copyright 2017</small>
    </div>
  </div>
</footer>