.s-small-footer {

  &__content {
    background-color: @bg-color--dark;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &__copyright {
    text-align: center;
    background-color: @bg-color--darkest;
    color: @blue;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
}